.Primary-Left-IconDefault{
    padding:8px 20px;
}
tr:nth-child(even) {background-color:#d7dfe9}
.flter-Drop-Down{
    margin-top: 10px;
    background-color: white;
    align-self: flex-end;
    width: 20%;
}