.Primary-Left-IconDefault{
    padding:8px 20px;
}
tr:nth-child(even) {background-color:#d7dfe9}
.filter-user-observation-list{
    background-color: white;
    align-self: flex-end;
    margin-top:10px;
    width: 20%;
}