.logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  .PersonM {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .active-head{
    color: #0b69ff;
    font-weight: bold;
  }
  .sign-out-popUp{
    width:25%;
    position: absolute;
    top:10px;
    left: 20px;
  }
 .sign-out-btn{
   width:40%;
   margin: 10px;
 }