.logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  .PersonM {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  .active-head{
    color: #0b69ff;
    font-weight: bold;
  }