.baseModalStyles {
   border-radius: 8px;
   background-color: white;
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
   overflow: auto;
   align-self: center;
   margin-bottom: 10px;
   margin-top: 10px;
   min-height: 60vh;
   max-height: 80vh;
   overflow-y: auto;
   position: relative;
}

.baseModalStyles:focus {
   outline: none;
}

.baseModalUnderlayStyles {
   display: flex;
   justify-content: center;
   overflow: auto;
}
