.cart-list {
  padding-left: 0px;
  width: 1110px;
  left: 165px;
  top: 144px;

  background: #f9fbfe;
  /* Main/Hover Light */

  border: 1px solid rgba(11, 105, 255, 0.1);
  box-sizing: border-box;
}

.headers-container {
  display: flex;
  justify-content: space-around;
}

.headers-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: right;
  letter-spacing: 0.2px;

  /* Light / blue-gray / 600 */

  color: #475569;
}
