.containerCSS {
   width: 300px;
   height: 80px;
   border-style: dashed;
   border-color: lightgray;
   outline: none;
   border-width: 1px;
   border-radius: 3px;
   text-align: center;
}
.containerCSS:hover {
   border-color: gray;
}

.roundedContainerCSS {
   width: 100px;
   height: 100px;
   border-style: dashed;
   border-color: lightgray;
   outline: none;
   border-width: 1px;
   border-radius: 50%;
   text-align: center;
}
