.cart-summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-total-value {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: right;

  /* Basic / 900 */

  color: #3e4c59;
}

@media screen and (min-width: 768px) {
  .order-total-value {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: right;

    /* Basic / 900 */

    color: #3e4c59;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.order-total-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-total-label {
    font-size: 24px;
  }
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .total-items {
    font-size: 16px;
  }
}

.checkout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #f7931e;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  border: 0px none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  /* identical to box height, or 133% */

  /* Light / base / white */

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-lg-none {
    display: none;
  }
}

.link-item {
  text-decoration: none;
  cursor: pointer;
}
